language: rust
cache: cargo
sudo: required
services: docker

rust:
  - stable
  - beta
  - nightly

env:
  global:
    - secure: "T2ngm+V253frZCFrvyEMjnfv47RPG0bK9wtIeSKHKvsOTQTjJqjvyqxuo1yaSREuWwWwQaBkBm7Wn41MtuNV4gUGGPitShXfl/wesARuKYV7koHbXjar1ah28GQWDbBrFZy1VnzV2dVQWt1vhNp/RPAyAJFE2IIYsIjZwOSfvQyS4XrOq3b0WofMstVAGU8QYbk1oeHSRNMMt+Lc2syUMSJHhInjpaGtHx2haAuV2NWkp0NVhDLqKxYU4JsPpaRoZXTpUxoHpN8SFvxPtGrKEPBdw1kC7gM556strG7LjSBA6MXq+9JkZTslol2w9HAaDmbi13aVl3/WwHNb4APMbpvO/6FrLSNY2KxAVmvi0ejq2R/FXZaY/He1uNVp79bs2mL9kv+EkG+BsyCiplEo80OlYKvej12UssnHLEvUQrWDBB9vNxF6fwLE7fz9r9LvCIRJ3JRmMna0IkjQEDQn6hhkUv/rVCr6UqXjXDd3qPWsaVHwvxlKJhZT9/HL09YgqWvVdrwUHPvUSZHm0K9JWpfZsjqzg0YY7ZahP9ywUE2PJkp4jvT4X1vzP1kC8EKzL0SMrEdbv/Pvsz1SWKMK1khW50hVJ5o3J7y6sLqrpkMMQm9HCc/FB7vDN9K4hdek9LhJkd2AvgcU3/4J0IG2pgGLa3LofKVzOOM5/CoRYuw="
  matrix:
    - TARGET="x86_64-unknown-linux-gnu"
    - TARGET="mips-unknown-linux-gnu"
    - TARGET="mipsel-unknown-linux-gnu"
    - TARGET="mips64-unknown-linux-gnuabi64"
    - TARGET="mips64el-unknown-linux-gnuabi64"

before_install:
  - command -v cross 1>/dev/null || cargo install cross

script:
  - cross build --target $TARGET --verbose --all
  - cross test --target $TARGET --verbose --all

matrix:
  allow_failures:
  - rust: nightly
  fast_finish: true
  include:
  - rust: stable
    env:
    before_install:
    script:
    - rustup component add rustfmt-preview
    - cargo fmt --all -- --check

deploy:
  # Create new crates.io package
  - provider: script
    skip_cleanup: true
    script: cargo publish --token ${CRATESIO_TOKEN}
    on:
      condition: x$CRATESIO_TOKEN != 'x' && $TRAVIS_RUST_VERSION = stable && $TARGET = 'x86_64-unknown-linux-gnu'
      tags: true
